
/* ---- layout ---- */

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #151515;
}

.background-white {
  background-color: #FFF;
}

.turn-image {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

#main-content {
  height: 100%;
  margin: 0 20px;
}

/* ---- buttons ---- */

button {
  padding: 20px 0;
  font-size: 20px;
  background-color: #FA5858;
  border: 2px solid #FFF;
  border-radius: 10px;
  width: 300px;
  color: #FFF;
  font-family: 'Cabin Sketch';
}

button:hover {
  background-color: #FE2E2E;
}

@media (min-width: 768px) {
  button {
    width: 400px;
  }
}

/* ---- title screen ---- */

.title-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.title-screen .title {
  font-family: 'Cabin Sketch';
  font-size: 50px;
  color: #FFF;
}

.title-screen .icons {
  width: 100px;
  height: 200px;;
  padding-top: 30px;
}

.title-screen .instructions {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.title-screen .list-instructions {
  font-size: 24px;
  color: #FFF;
  font-family: 'Shadows Into Light';
  padding: 0px;
  list-style-type: none;
}

.title-screen .viewPortSize {
  height: 5vh;
}

@media (min-width: 768px) {
  .title-screen .title {
    font-size: 60px;
  }
}

/* ---- game screen ---- */

.game-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #FFF;
  font-family: 'Shadows Into Light';
  font-size: 20px;
}

.game-screen .header {
  display: flex;
  justify-content: space-around;
  background-color: white;
  margin-bottom: 5vh;
}

.game-screen .time,
.game-screen .hint,
.game-screen .score {
  font-weight: 600;
  flex: 33% 1 auto;
}

.game-screen .hint {
  color: #FE2E2E;
}

.game-screen .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.game-screen .board {
  border: 1px solid #A4A4A4;
}

.game-screen .row {
  display: flex;
}

.game-screen .element {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid #A4A4A4;
  padding: 5px;
  margin: 0;
}

.game-screen img {
  height: 50px;
  align-items: center;
  /*transform: scaleX(-1);*/
}

.game-screen .ballot-box {
  padding-top: 10px;
  height: 30px;
}

.game-screen .ballot-box-stole {
}

/* ---- game over screen ---- */

.game-over-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #FFF;
  font-family: 'Shadows Into Light';
}

.game-over-screen .title {
  font-family: 'Cabin Sketch';
  font-size: 60px;
  color: #FFF;
}

.game-over-screen .subtitle {
  font-size: 24px;
  color: #FFF;
  font-family: 'Shadows Into Light';
}