/* ---- layout ---- */
html {
  height: 100%;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  background-color: #151515;
}

html {
  /*background-color: black;*/
}

.background-white {
  background-color: #FFF;
}

.turn-image {
  transform: scaleX(-1);
  /*filter: FlipH;*/
}

#main-content {
  height: 100%;
  margin: 0 20px;
}

/* ---- buttons ---- */

button {
  padding: 20px 0;
  font-size: 20px;
  background-color: #FA5858;
  border: 2px solid #FFF;
  border-radius: 10px;
  width: 400px;
  color: #FFF;
  font-family: 'Cabin Sketch';
}
button:hover {
  background-color: #FE2E2E;
}


button:active {
  /*border: 2px solid #FFF;
  background-color: #FA5858;
  color: #8A0808;*/
}

/* ---- title screen ---- */

.title-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

.title-screen .title {
  font-family: 'Cabin Sketch';
  font-size: 60px;
  color: #FFF;
}

.title-screen .list-instructions {
  font-size: 24px;
  color: #FFF;
  font-family: 'Shadows Into Light';
  padding: 0px;
  list-style-type: none;
}

.title-screen .startGame {

}

.title-screen .viewPortSize {
  height: 5vh;
}

/* ---- game screen ---- */

.game-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  background-color: #FFF;
  font-family: 'Shadows Into Light';
  font-size: 20px;
}

.game-screen .header {
  display: flex;
  justify-content: space-around;
  background-color: white;
}
.game-screen .label,
.game-screen .hint,
.game-screen .score {
  font-weight: 600;
  flex: 33% 1 auto;
}

.game-screen .main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.element img {
  height: 50px;
  align-items: center;
  /*transform: scaleX(-1);*/
}

.game-screen .footer {

}

.game-screen .row {
  display: block;
}

.game-screen .element {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  padding: 0;
  margin: 0;
}

/* ---- game over screen ---- */

.game-over-screen {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  color: #FFF;
  font-family: 'Shadows Into Light';
}